<!-- <div class="chat-box">
  <mat-card>

  </mat-card>
</div> -->
<mat-card class="chat-box">
  <mat-card-header>
    <img mat-card-avatar src="../../assets/sirius.jpg">
    <p class="header"> Sirius Black</p>
    <mat-icon style="padding-left:9em">
      close
    </mat-icon>
  </mat-card-header>
  <mat-card-content class="chat-message">
    <app-user-message></app-user-message>
  </mat-card-content>
  <mat-card-footer>
    <app-input-chatbox></app-input-chatbox>
  </mat-card-footer>
</mat-card>
